/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: inherit;
}

/** Transparent **/
/** Black **/
/** White **/
/** Gray **/
/** Red **/
/** Orange **/
/** Yellow **/
/** Green **/
/** Teal **/
/** Blue **/
/** Indigo **/
/** Purple **/
/** Pink **/
html {
  padding: 0;
  margin: 0;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  text-edge: cap alphabetic;
  leading-trim: both;
}

body {
  background-color: #faf5ff;
  font-family: Heebo, sans-serif;
  color: #2d3748;
  line-height: 1.6em;
  font-size: 0.85em;
  font-weight: 400;
}

a {
  color: #d6bcfa;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: #b794f4;
  transition: all 0.3s;
}

img {
  width: 100%;
  height: auto;
}

.logo {
  width: 80px;
  margin: 10px 20px;
}

.hide {
  display: none;
}

h1, h2, h3, h4, .day_header {
  line-height: 1.6em;
  font-weight: 200;
  color: #f687b3;
}

ion-icon {
  vertical-align: -10%;
}

h1, .day_header {
  font-size: 300%;
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 200%;
  font-weight: 400;
  border-top: 2px solid #e9d8fd;
  padding: 15px 0px 13px 0px;
}

h4 {
  font-size: 150%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.day_header {
  width: 100%;
  padding: 20px 0 10px 0px;
  cursor: pointer;
}

.sheet > .day_header:nth-child(2) {
  padding-top: 0;
}

.box {
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(214, 188, 250, 0.6));
          filter: drop-shadow(0px 0px 2px rgba(214, 188, 250, 0.6));
}

.sheet, .filters_form, .quick_add_form {
  margin: 20px 0px 20px 0px;
  padding: 20px 20px 20px 20px;
}

.table {
  display: table;
  width: 100%;
}

.table_row {
  display: table-row;
}

.table_col {
  display: table-cell;
  border-top: 2px solid #e9d8fd;
  padding: 15px 5px 13px 5px;
  vertical-align: top;
}
.table_col.task_col_1 {
  width: 100px;
}
.table_col.task_col_2 {
  width: 200px;
}
.table_col.task_col_3 {
  width: auto;
}
.table_col.task_col_4 {
  width: 160px;
}
.table_col.task_col_graph {
  width: 10px;
}
.table_col.task_col_graph div {
  display: inline-block;
  width: 5px;
  height: 50px;
  border-radius: 5px;
  margin-left: -5px;
  margin-right: 5px;
  border: 1px solid white;
  vertical-align: middle;
}
.table_col.task_col_graph div.heat_0 {
  background-color: #caefff;
}
.table_col.task_col_graph div.heat_1 {
  background-color: #e9ef9c;
}
.table_col.task_col_graph div.heat_2 {
  background-color: #ffc33b;
}
.table_col.task_col_graph div.heat_3 {
  background-color: #ff6a38;
}
.table_col.task_col_graph div.heat_4 {
  background-color: #ff1d16;
}

.task_duration, .task_project, .task_value, .task_client {
  font-size: 150%;
  font-weight: 500;
  margin-left: -0.05em;
}

.task_description, .task_time, .task_value_source {
  color: #718096;
}

.task_client {
  margin-right: 5px;
}

.task_project {
  font-weight: 300;
  color: #a0aec0;
  white-space: nowrap;
}

.task_value_currency {
  font-size: 75%;
  vertical-align: 6%;
  margin-right: 1px;
}

.cell_alignright {
  text-align: right;
}

.task_container:nth-of-type(n + 50) {
  display: none;
}

.highlighted {
  background-color: #faf5ff;
}
.highlighted .action_icons .icon a {
  background: #fff;
}

.action_icons {
  text-align: right;
}

.icon_svg img {
  width: 15px;
  height: auto;
  -webkit-filter: invert(40%) sepia(50%) hue-rotate(226deg) saturate(900%);
          filter: invert(40%) sepia(50%) hue-rotate(226deg) saturate(900%);
}
.icon_svg a {
  transition: color 0.5s, border-radius 0.5s, background-color 0.5s;
  background: #faf5ff;
  vertical-align: middle;
  align: center;
  padding: 10px 11px 7px 11px;
  border-radius: 5px;
  line-height: 1;
  display: inline-block;
}
.icon_svg a:hover {
  color: #44337a;
  background: #e9d8fd;
  transition: color 0.2s, border-radius 0.2s, background-color 0.2s;
  border-radius: 10px;
}
.icon_svg a.modal_update {
  padding: 9px 9px 8px 13px;
}

#floating_bar {
  display: none;
  text-align: center;
  background-color: #6b46c1;
  color: #faf5ff;
  padding: 20px 0px;
  font-size: 150%;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.modal {
  padding: 20px 20px 40px 20px;
  background-color: #faf5ff;
}
.modal a.close-modal {
  top: 2.5px !important;
  right: 2.5px !important;
}

.jquery-modal {
  z-index: 2 !important;
}

.drp-buttons span {
  display: none;
}
.drp-buttons button {
  width: 42%;
  padding: 2px 9px;
  margin: 2px 9px;
}
.drp-buttons .cancelBtn {
  background-color: #cbd5e0;
}

.grid-6 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
}

.span-1 {
  grid-column: span 1;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.span-5 {
  grid-column: span 5;
}

.span-6 {
  grid-column: span 6;
}

label {
  padding: 0 0 0 5px;
  color: #a0aec0;
  font-weight: 300;
}

input {
  width: 100%;
  padding: 0px 10px;
  border: 2px solid #e9d8fd;
  font-size: 125%;
  border-radius: 3px;
  height: 48px;
  vertical-align: top;
}

.easy-autocomplete {
  width: 100% !important;
}

.easy-autocomplete input {
  width: 100%;
}

select {
  border: 1px solid #e2e8f0;
  font-size: 120%;
  border-radius: 3px;
  background-color: transparent;
}

button {
  background-color: #805ad5;
  width: 100%;
  vertical-align: middle;
  padding: 10px 20px;
  height: 48px;
  margin: 0;
  border: 0;
  border-radius: 3px;
  color: white;
  font-size: 120%;
}
button:hover {
  background-color: #553c9a;
  cursor: pointer;
}

.is-alert {
  background-color: #e53e3e;
}
.is-alert:hover {
  background-color: #c53030;
}

.highlight {
  background-color: #fffff0;
}

.pagination {
  margin: 20px 0 40px 0px;
  display: flex;
}
.pagination a {
  padding: 10px 15px 9px 15px;
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(214, 188, 250, 0.6));
          filter: drop-shadow(0px 0px 2px rgba(214, 188, 250, 0.6));
}
.pagination a.page_current {
  color: #9f7aea;
}

@media (max-width: 1024px) {
  body {
    font-size: 0.7em;
  }

  .span-1, .span-2, .span-3, .span-4, .span-5, .span-6 {
    grid-column: span 6;
  }
}
@media (max-width: 768px) {
  .logo {
    max-width: 120px;
    margin: 0 auto;
  }

  .table_col.task_col_1 {
    width: 15%;
  }
  .table_col.task_col_2 {
    width: 20%;
  }
  .table_col.task_col_3 {
    width: 45%;
  }
  .table_col .icon_svg a {
    padding: 8px 9px 8px 9px;
  }
}
