// these are TallyHo's custom colors, currently blue, gray, green and a few reds
// ideally I'd like to generate these, but it's not so easy

$dk-blue-900: #00305c;
$dk-blue-800: saturate(lighten($dk-blue-900, 5%), 10%);
$dk-blue-700: saturate(lighten($dk-blue-900, 10%), 20%);
$dk-blue-600: saturate(lighten($dk-blue-900, 15%), 30%);
$dk-blue-500: saturate(lighten($dk-blue-900, 20%), 40%);
$dk-blue-400: saturate(lighten($dk-blue-900, 25%), 50%);
$dk-blue-300: saturate(lighten($dk-blue-900, 30%), 60%);
$dk-blue-200: saturate(lighten($dk-blue-900, 35%), 70%);
$dk-blue-100: saturate(lighten($dk-blue-900, 40%), 80%);

$lt-blue-900: saturate(lighten($dk-blue-900, 45%), 80%);
$lt-blue-800: saturate(lighten($dk-blue-900, 50%), 70%);
$lt-blue-700: saturate(lighten($dk-blue-900, 55%), 60%);
$lt-blue-600: saturate(lighten($dk-blue-900, 60%), 50%);
$lt-blue-500: saturate(lighten($dk-blue-900, 65%), 40%);
$lt-blue-400: saturate(lighten($dk-blue-900, 70%), 30%);
$lt-blue-300: saturate(lighten($dk-blue-900, 72%), 20%);
$lt-blue-200: saturate(lighten($dk-blue-900, 74%), 10%);
$lt-blue-100: saturate(lighten($dk-blue-900, 76%), 0%);

$dk-gray-900: #2b2f30;
$dk-gray-800: saturate(lighten($dk-gray-900, 5%), 2%);
$dk-gray-700: saturate(lighten($dk-gray-900, 10%), 4%);
$dk-gray-600: saturate(lighten($dk-gray-900, 15%), 6%);
$dk-gray-500: saturate(lighten($dk-gray-900, 20%), 8%);
$dk-gray-400: saturate(lighten($dk-gray-900, 25%), 10%);
$dk-gray-300: saturate(lighten($dk-gray-900, 30%), 12%);
$dk-gray-200: saturate(lighten($dk-gray-900, 35%), 14%);
$dk-gray-100: saturate(lighten($dk-gray-900, 40%), 16%);

$lt-gray-900: saturate(lighten($dk-gray-900, 45%), 16%);
$lt-gray-800: saturate(lighten($dk-gray-900, 50%), 14%);
$lt-gray-700: saturate(lighten($dk-gray-900, 55%), 12%);
$lt-gray-600: saturate(lighten($dk-gray-900, 60%), 10%);
$lt-gray-500: saturate(lighten($dk-gray-900, 65%), 8%);
$lt-gray-400: saturate(lighten($dk-gray-900, 70%), 6%);
$lt-gray-300: saturate(lighten($dk-gray-900, 74%), 4%);
$lt-gray-200: saturate(lighten($dk-gray-900, 77%), 2%);
$lt-gray-100: saturate(lighten($dk-gray-900, 80%), 0%);

$dk-green-900: #184c28;
$dk-green-800: saturate(lighten($dk-green-900, 5%), 2%);
$dk-green-700: saturate(lighten($dk-green-900, 10%), 4%);
$dk-green-600: saturate(lighten($dk-green-900, 15%), 6%);
$dk-green-500: saturate(lighten($dk-green-900, 20%), 8%);
$dk-green-400: saturate(lighten($dk-green-900, 25%), 10%);
$dk-green-300: saturate(lighten($dk-green-900, 30%), 12%);
$dk-green-200: saturate(lighten($dk-green-900, 35%), 14%);
$dk-green-100: saturate(lighten($dk-green-900, 40%), 16%);

$lt-green-900: saturate(lighten($dk-green-900, 45%), 16%);
$lt-green-800: saturate(lighten($dk-green-900, 50%), 14%);
$lt-green-700: saturate(lighten($dk-green-900, 55%), 12%);
$lt-green-600: saturate(lighten($dk-green-900, 60%), 10%);
$lt-green-500: saturate(lighten($dk-green-900, 65%), 8%);
$lt-green-400: saturate(lighten($dk-green-900, 70%), 6%);
$lt-green-300: saturate(lighten($dk-green-900, 74%), 4%);
$lt-green-200: saturate(lighten($dk-green-900, 77%), 2%);
$lt-green-100: saturate(lighten($dk-green-900, 80%), 0%);

$lt-red-900: #f03f39;
$lt-red-800: saturate(lighten($lt-red-900, 5%), 10%);
$lt-red-700: saturate(lighten($lt-red-900, 10%), 15%);
$lt-red-600: saturate(lighten($lt-red-900, 15%), 20%);
$lt-red-500: saturate(lighten($lt-red-900, 20%), 25%);
$lt-red-400: saturate(lighten($lt-red-900, 25%), 30%);
$lt-red-300: saturate(lighten($lt-red-900, 30%), 35%);
$lt-red-200: saturate(lighten($lt-red-900, 35%), 40%);
$lt-red-100: saturate(lighten($lt-red-900, 40%), 45%);

$primary: $dk-blue-300;
$primary-invert: $lt-blue-100;
$link: $dk-blue-100;
$scheme: $lt-blue-100;
$scheme-invert: $dk-blue-900;
$navbar-background-color: $dk-blue-300;
$column-gap: 0.5rem;
$family-sans-serif: "Heebo", sans-serif;
$pagination-color: $link;
$pagination-border-color: $lt-blue-300;
$pagination-hover-border-color: $lt-blue-500;
$pagination-active-border-color: $dk-gray-100;
$dropdown-menu-min-width: 4rem;
$dropdown-content-offset: 0;
$dropdown-item-hover-background-color: $lt-gray-200;
$dropdown-content-padding-bottom: 0;
$dropdown-content-padding-top: 0;
$dropdown-content-shadow: 0 2px 5px rgba($dk-blue-500, 0.1), 0 0 0 1px rgba($dk-gray-400, 0.1);
$button-border-color: $lt-blue-300;
$button-hover-border-color: $lt-blue-500;
$input-border-color: $lt-blue-200;
$input-hover-border-color: $lt-blue-300;
$modal-background-background-color: rgba($lt-blue-100, 0.9);
$modal-card-head-background-color: $dk-blue-300;
$modal-card-title-color: #fff;
$background: $lt-blue-100;

@import "_bulma.sass";

/* == Main styles == */

.color_test {
  border: 20px solid #fff;

  div {
    display: inline-block;
    width: 40px;
    height: 40px;

    &:nth-of-type(1) {
      background-color: $lt-blue-100;
    }

    &:nth-of-type(2) {
      background-color: $lt-blue-200;
    }

    &:nth-of-type(3) {
      background-color: $lt-blue-300;
    }

    &:nth-of-type(4) {
      background-color: $lt-blue-400;
    }

    &:nth-of-type(5) {
      background-color: $lt-blue-500;
    }

    &:nth-of-type(6) {
      background-color: $lt-blue-600;
    }

    &:nth-of-type(7) {
      background-color: $lt-blue-700;
    }

    &:nth-of-type(8) {
      background-color: $lt-blue-800;
    }

    &:nth-of-type(9) {
      background-color: $lt-blue-900;
    }

    &:nth-of-type(10) {
      background-color: $dk-blue-100;
    }

    &:nth-of-type(11) {
      background-color: $dk-blue-200;
    }

    &:nth-of-type(12) {
      background-color: $dk-blue-300;
    }

    &:nth-of-type(13) {
      background-color: $dk-blue-400;
    }

    &:nth-of-type(14) {
      background-color: $dk-blue-500;
    }

    &:nth-of-type(15) {
      background-color: $dk-blue-600;
    }

    &:nth-of-type(16) {
      background-color: $dk-blue-700;
    }

    &:nth-of-type(17) {
      background-color: $dk-blue-800;
    }

    &:nth-of-type(18) {
      background-color: $dk-blue-900;
    }
  }
}

html {
  background-color: $lt-blue-100;
  padding: 0;
  margin: 0;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  font-family: $family-sans-serif;
  color: $dk-gray-700;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}

textarea, input, button, select {
  font-size: inherit;
  font-family: inherit;
}

a {
  color: $link;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: $link-hover;
    transition: all 0.3s;
  }
}

img {
  width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.nav + .container {
  margin-top: 1rem;
}

/* == Headings == */

h1, h2, .day_header {
  font-size: 1.5rem;
  font-weight: 400;
  color: $dk-blue-100;
  text-transform: uppercase;
}

.modal-card-title {
  margin: 0.25em 0 0 0;

  // vertical-align: middle
  .icon {
    vertical-align: 15%;
    color: $lt-blue-700;
  }
}

.modal-card-head {
  .buttons {
    margin: 0.5em 1em 0 0.5em;
  }
}

/* == Navbar, Dropdowns and Buttons == */

.nav {
  background-color: $navbar-background-color;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: #{$column-gap * 2};
  padding-right: #{$column-gap * 2};

  .logo {
    margin-top: 5px;
    height: auto;
    max-width: 100px;
  }
}

button {
  transition: color 0.3s, border 0.6s, background-color 0.5s;
}

.button.is-link:hover, .button.is-link.is-hovered {
  background: $white;
  color: $link;
}

.dropdown-divider {
  margin: 0;
}

.modal-card, .modal-card-body {
  overflow: visible;
}

.dropdown-container {
  .dropdown button:active {
    background: $lt-blue-400;
  }

  .dropdown-content {
    max-height: 40vh;
    overflow-y: auto;
  }

  .dropdown-item {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

a.dropdown-item, button.dropdown-item {
  padding-right: 1rem;
  padding-left: 0.75rem;
}

.box_sheet a.dropdown-item {
  padding-right: 1.5rem;
  padding-left: 1.25rem;

  .icon {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  &:hover {
    .icon {
      opacity: 1;
    }
  }
}

.dropdown-content {
  overflow: hidden;
}

.field:not(:last-child) {
  margin-bottom: 0rem;
}

/* == Layout == */

.day_header {
  width: 100%;
  padding: #{$column-gap * 7} 0 #{$column-gap * 1.5} #{$column-gap * 5};
  margin: #{$column-gap * 0} 0 0 0;
  cursor: pointer;
  border-bottom: 1px solid $lt-gray-400;
  scroll-snap-align: start;

  .pretty_date {
    padding-right: 0.5rem;
  }

  .pretty_day {
    color: $lt-gray-800;
  }
}

.sheet > .day_header:nth-child(2) {
  padding-top: 0;
}

.box_sheet {
  background-color: $white;
  border-bottom-left-radius: #{$column-gap / 2};
  border-bottom-right-radius: #{$column-gap / 2};
  margin: 0px 0px #{$column-gap * 1} 0px;
  padding: #{$column-gap * 0} 0px 0px 0px;
  box-shadow: 0px 0px #{$column-gap / 2} rgba($lt-blue-600, 0.3), 0px 0px 1px rgba($dk-gray-500, 0.1);
}

.box_filters {
  display: grid;
  width: 100%;
  margin: auto 0;
  grid-template-columns: 1fr 1fr min-content;
  grid-gap: #{$column-gap * 0.5};

  .field:not(:last-child) {
    margin-bottom: 0;
  }
}

.table_row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  &:hover {
    background-color: $lt-gray-100;
  }

  &.highlighted {
    &:hover {
      background-color: darken($lt-blue-200, 2%);
    }
  }
}

.table_col {
  border-bottom: 1px solid $lt-blue-200;
  padding: #{$column-gap * 1.5} 2px 13px 2px;
}

.task_col_1 {
  padding-left: #{$column-gap * 5};
  width: 30ch;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
  }
}

.show_invoiced .task_col_1::after, .show_invoicereminder .task_col_1::after {
  content: "";
  display: block;
  position: absolute;
  left: #{$column-gap * 1.8};
  top: 1rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $lt-green-800;
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;
  line-height: 1;
}
.show_invoicereminder .task_col_1::after {
  color:rgb(255, 217, 66);
  content: "";
}

// .heat_0, .heat_1, .heat_2, .heat_3, .heat_4
//   &::before
//     width: #{($column-gap / 1)}
//     height: #{($column-gap / 1)}
//     border-radius: #{($column-gap * 2)}
//     left: #{($column-gap * 1)}
//     top: 50%
//     bottom: 50%
//     border: 1px solid white
//     margin: auto 0
//   &.heat_0
//     &::before
//       background-color: #caefff
//   &.heat_1
//     &::before
//       background-color: #e9ef9c
//   &.heat_2
//     &::before
//       background-color: #ffc33b
//   &.heat_3
//     &::before
//       background-color: #ff6a38
//   &.heat_4
//     &::before
//       background-color: #ff1d16
.task_col_2 {
  width: 30ch;
}

.task_col_3 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task_col_4 {
  width: auto;
  padding-right: #{$column-gap * 2};
}

.task_duration, .task_value, .task_duration_label {
  letter-spacing: -0.03em;
}

.task_duration, .task_project, .task_value, .task_client {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: -0.05em;
}

.task_description, .task_time, .task_value_source {
  color: $lt-gray-800;
}

.task_client {
  margin-right: #{$column-gap / 2};
}

.task_project {
  color: $dk-gray-200;
  white-space: nowrap;
}

.task_value_currency {
  font-size: 0.75rem;
  vertical-align: 6%;
  margin-right: 2px;
}

.cell_alignright {
  text-align: right;
}

.task_container {
  &:nth-of-type(n + 50) {
    display: none;
  }
}

/* == Floating bar where the tally goes == */

.tally {
  color: $lt-blue-100;
  min-width: 15ch;
  line-height: 1.3;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: left;
}

/* == Modal custom styles == */

.modal-content {
  padding: #{$column-gap * 2} #{$column-gap * 2} #{$column-gap * 4} #{$column-gap * 2};
  background-color: $white;
  border-radius: 6px;
}

.modal-card {
  box-shadow: 0px 0px #{$column-gap / 1} rgba($lt-blue-900, 0.3), 0px 0px 2px rgba($dk-gray-500, 0.1);
}

.form_error {
  height: 100%;
  display: flex;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  p {
    margin: auto 0;
  }
}

/* == DateRangePicker custom styles == */

.daterangepicker .drp-buttons .btn {
  margin-left: 0;
  padding: 6px 10px;
}

.daterangepicker.show-calendar .drp-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;

  button {
    flex-grow: 1;
    border: 0;
    outline: 0;
    font-weight: inherit !important;
    border-radius: 2px;
  }

  .cancelBtn {
    background-color: $lt-gray-300;
    color: $dk-gray-300;
  }

  .applyBtn {
    background-color: $link;
    color: $white;
  }
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
  outline: 0;
  border: 1px solid $lt-gray-400;
  padding: #{$column-gap / 2} #{$column-gap * 1};
  box-shadow: none !important;
  -webkit-appearance: none;
  background-color: #fff;
  width: auto;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: $dk-blue-200;
}

/* == form elements == */

label {
  padding: 0 0 0 #{$column-gap / 2};
  color: $dk-gray-300;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.75rem;
  display: inline-block;
  min-height: #{$column-gap * 2};
}

input, textarea {
  width: 100%;
  padding: #{$column-gap * 1} #{$column-gap * 1};
  background-color: $lt-gray-100;
  border: 1px solid $lt-gray-200;
  box-shadow: none;
  outline: 0;
  color: $dk-gray-600;

  &:not([type=checkbox]):not([type=radio]) {
    -webkit-appearance: none;
  }

  &:focus, &:hover {
    background-color: lighten($lt-blue-100, 2%);
    border: 1px solid $lt-blue-500;
    color: $dk-gray-900;
  }

  &:focus-within {
    background-color: lighten($lt-blue-100, 4%);
    border: 1px solid $lt-blue-200;
  }
}

textarea {
  max-width: 100%;
  min-height: 4rem;
  max-height: 500px;
  padding: 8px #{$column-gap * 1};
  resize: none;
  overflow: hidden;
}

.easy-autocomplete {
  width:100% !important {}
}

.easy-autocomplete input {
  width: 100%;
}

select {
  border: 1px solid $dk-gray-400;
  border-radius: 3px;
  background-color: transparent;
}

.is-alert {
  background-color: $lt-red-600;
  border: 0;
  color: $lt-red-100;

  &:hover {
    background-color: $lt-red-500;
    border: 0;
    color: $white;
  }
}

.show_justupdated {
  // row highlight: when a task has been added/updated
  background-color: $lt-red-100;
}

.highlighted {
  // row highlight: when selected
  background-color: $lt-blue-200;
}

/* == Pagination == */

.page_number {
  text-align: right;
  padding: #{$column-gap * 2} #{$column-gap * 2} 0 0;
  margin-bottom: #{0 - $column-gap * 2};
  color: $lt-blue-300;
}

@media (min-width: 1400px) {
  :root {
    font-size: 1.1rem;
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 0.75rem;
  }

  .nav .logo {
    max-width: 70px;
  }

  input, select, textarea {
    font-size: 1rem;
  }

  .day_header {
    padding-left: #{$column-gap * 5};
  }
  
  .table_col {
    padding: #{$column-gap * 0.75} 2px #{$column-gap * 1} 2px;

    &.task_col_1 {
      width: 22ch;
      padding-left: #{$column-gap * 5};
    }

    &.task_col_2 {
      width: 22ch;
    }

    &.task_col_4 {
      padding-right: #{$column-gap * 1};
    }
  }

  .box_sheet {
    padding: #{$column-gap * 1} #{$column-gap * 0} #{$column-gap * 1} #{$column-gap * 0};
  }

  .box_filters {
    max-width: 200px;
  }

  .columns {
    margin: 0;
    overflow-x: hidden;
  }
}

@media print { 
  :root {
    font-size: 8px
  }
  html {
    background-color: white;
  }
  .nav, .task_col_4, .show_invoiced, .pagination, .page_tally, .pagespeed, .page_number  {
    display: none
  }
  .task_col_1, .day_header {
    padding-left: .25em;
  }
  .task_col_1::before, .task_col_1::after {
    display: none !important
  }
}